<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="testConnection"  connectionString="Data Source=SQL5031.site4now.net,1433;MultipleActiveResultSets=true;Initial Catalog=DB_9AB8B7_B18DDA5864;User Id=DB_9AB8B7_B18DDA5864_admin;Password=BjTT5jWr;"/>

  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />

  </system.web>

</configuration>
